<br><br>
<div class="container">
  <div class="row">
      <div class="col">
        -----------------------------------------------------------------
          <div>
              <a [routerLink]="['actualizar', indice]">
                  # {{indice+1}} <br></a>
                 <b>Nombre del Dueño: </b>{{mascotaLista.n_dueno}} <br>
                 <b>Direccion: </b>{{mascotaLista.direccion}} <br>
                 <b>Numero de contacto: </b>{{mascotaLista.numero}} <br>
                 <b>Correo: </b>{{mascotaLista.correo}} <br>

                 <b>Nombre de la mascota: </b>{{mascotaLista.n_mascota}} <br>
                 <b>Tipo de mascota: </b>{{mascotaLista.tipo_mascota}} <br>
                 <b>Edad (en meses): </b>{{mascotaLista.edad}} <br>
                 <b>Raza: </b>{{mascotaLista.raza}} <br>
          </div>
          <app-caracteristicas-mascota-component (caracteristicasMascotas)="agregar_caracteristica($event)"></app-caracteristicas-mascota-component>
          <ul style="list-style: none;"><b>Caracteristicas Adicionales: </b>
              <li *ngFor="let caracteristica of array_caracteristicas">
                  {{ caracteristica }}
              </li>
          </ul>
          <app-eliminar-component></app-eliminar-component>
      </div>
  </div>
</div>

