<nav class="navbar navbar-expand-lg navbar-dark nav-bk">
  <a class="navbar-brand" href="#">
    <img src="mascotas.png"  width="50" height="50" class="d-inline-block align-top" alt="mascotas">
    &nbsp;&nbsp;&emsp;
    Clinica Veterinaria Kayla
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" href="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;Registro|Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registro">Registro</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

