<nav class="navbar navbar-expand-lg navbar-dark nav-bk">
  <a class="navbar-brand" href="#">
    <img src="mascotas.png"  width="50" height="50" class="d-inline-block align-top" alt="mascotas">
    &nbsp;&nbsp;&emsp;
    Clinica Veterinaria Kayla
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&emsp;Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registro|Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"></a>
      </li>
    </ul>
  </div>
</nav>
<!--formulario-->
<section class="content">
  <div class="card">
    <div class="card-header">
      <h2>TITULO</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Digite nombres" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
              <button type="submit" class="btn btn-outline-primary btn-block" id="btn_inventario">
                <i class="fas fa-save"></i> Guardar
              </button>
            </div>
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">nombre proveedor</th>
                <th scope="col">cantidad existente</th>
                <th scope="col">Nombre producto</th>
                <th scope="col">nombre proveedor</th>
                <th scope="col">cantidad existente</th>
                <th scope="col">caracteristica</th>
                <th scope="col">botones</th>
              </tr>
            </thead>
            <tbody id="tbody_inventario"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
