<p>mascotas-component works!</p>
<div class="container">
  <div class="row">
      <div class="col">
          <div>
              <a [routerLink]="['actualizar', indice]">
                  {{indice+1}} {{ mascotaLista.nombre}} {{mascotaLista.apellido}} {{mascotaLista.cargo}} {{mascotaLista.salario}}
              </a>
          </div>
          <app-caracteristicas (caracteristicas)="agregar_caracteristica($event)"></app-caracteristicas>
          <ul style="list-style: none;">
              <li *ngFor="let caracteristica of array_caracteristicas">
                  {{ caracteristica }}
              </li>
          </ul>
      </div>
  </div>
</div>
