body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 400px; /* Ancho máximo para pantallas grandes */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
